* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --accent: rgb(74, 108, 74);
    --background: rgb(238, 238, 238);
}

.sidebar {
    height: 100vh;
    width: 40vw;
    background: url("sidebar.jpg");
    background-size: cover;
    color: var(--accent);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-background {
    position: absolute;
    top: 15vh;
    height: 150px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.odin {
    height: 125px;
}

a {
    text-decoration: none;
    color: var(--accent);
}

.content {
    position: absolute;
    top: 0vh;
    right: 0vw;
    height: 100vh;
    width: 60vw;
    background-color: var(--background);
}

.heading {
    font-size: 20px;
    padding-block: 8vh;
    padding-inline: 3vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

form{
    background-color: white;
}

fieldset {
    position: relative;
    padding-top: 8vh;
    padding-inline: 3vw;
    padding-bottom: 5vh;
    border: none;
    box-shadow: 0px 2px 10px gray;
    display: flex;
    gap: 10vh;
}

legend {
    position: absolute;
    top: 2vh;
    left: 3vw;
    font-size: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

.right, .left {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

label {
    font-size: 12px;
}

input {
    font-family: inherit;
    height: 3vh;
    width: 15vw;
    border: solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: rgb(66, 128, 220);
    box-shadow: 2px 2px 5px gray;
}

.submit-section {
    padding-top: 8vh;
    padding-inline: 3vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-size: 14px;
    background-color: var(--background);
}

button {
    height: 35px;
    width: 150px;
    border-radius: 8px;
    color: white;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
}
